* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
   
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color:#191c32;
    color: #fff;
}

.brand {
    margin-top: -7px;
}

.brand span{
    color: aqua;
}

.menu li {
    list-style: none;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu .active {
    color: aqua;
}

.menu a:hover {
    background-color: aquamarine;
    color:#191c32;
    transition: ease-in .4s;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

h1 {
    font-size: 3em;
}

span {
    color: aqua;
}

.download-cv {
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102,231,200,.69);
}

.download-cv:hover {
    background-color: #fff;
    box-shadow: none;
}

.about{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
}
