$font-family-sans-serif:'Lato', sans-serif;
$primary: #733FC8;
$success: #49556B;
$dark: #18202D;
$secondary: #EDF2F8;

.d-flex img {
    width: 70px;
};

.texto_cursivo {
    font-style: italic;
    font-weight: bold;
}

.fondo-card {
    background-image: url('../img/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 85% top;
};

@import "../node_modules/bootstrap/scss/bootstrap";